.accessability-link{
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 100;
  &:focus{
    left: 0;
  }
  @media screen and (pointer: fine){
    transition: left .3s ease;
  }
}
.btn--icon{
  appearance: none;
  box-shadow: none;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  line-height: 1;
  &:focus {
    outline: 0;
    // background-color: rgba($blue, .1);
    box-shadow: 0 0 0 2px rgba($blue, .5);
  }
}