// checkbox defaults
.checkbox{
  flex-basis: 1rem;
  min-width: 1rem;
  max-width: 1rem;
  width: 1rem;
  min-height: 1rem;
  max-height: 1rem; 
  height: 1rem;
  display: block;
  position: relative;
}
.checkbox__input{
  appearance: none;
  position: absolute;
  width: 100%;
  width: inherit;
  height: inherit;
  z-index: -1;
  opacity: 0;
}
.checkbox__label{
  width: 100%;
  height: 100%;
  display: block;
  text-indent: -10000px;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.125rem;
  border: 0.125rem solid $blue;
  position: relative;
  &:after{
    content: '';
    display: block; 
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.404 6.56a1 1 0 0 1 1.414 0l1.65 1.65 4.95-4.95a1 1 0 1 1 1.414 1.415l-5.657 5.657a1 1 0 0 1-1.414 0l-.707-.707-1.65-1.65a1 1 0 0 1 0-1.414z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E"); 
    opacity: 0;
  }
}
.checkbox__label:focus,
input.checkbox__input:focus + .checkbox__label{
  outline: 1;
  box-shadow: 0 0 0 0.125rem rgba($blue, .3);
}
input.checkbox__input:checked + .checkbox__label{
  background-color: $blue;
  &:after{
    opacity: 1;
  }
}
  