html{
  font-size: 100%;
}
body,
input,
textarea{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: $base-700;
}

p,
.paragraph,
textarea{
  line-height: 1.3;
  margin: .5rem 0;
  color: $base-600;
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}