$blue: #859EFF;
$black: #000;
$base-800: #414C5E;
$base-700: #566074;
$base-600: #778195;
$base-500: #8F97A8;
$base-400: #BFC4CE;
$base-300: #D0D4DA;
$base-200: #EAEDEF;
$base-100: #F8F9FA;
$white: #fff;