<template>
  <div>
    <ul
      v-if="currentList && currentList.length > 0"
      class="list-transcriptions"
    >
      <li
        v-for="item in currentList"
        :key="`key${item.id}`"
        class="list-transcriptions__item"
      >
        <transcription :transcription="item" />
      </li>
    </ul>
    <footer class="list-transcriptions__footer">
      <button
        class="btn--icon"
        aria-label="Add line"
        @click.prevent="createTranscription"
      >
        <Icon
          class="icon--light"
          icon-name="add-circle"
        />
      </button>
    </footer>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import Transcription from '@/components/Transcription.vue'
import Icon from '@/components/icons/Icon'
export default {
    name: 'ListTranscriptionsView',
    components: {
      Transcription,
      Icon
    },
    data() {
      return {
        // currentList: undefined
      }
    },
    computed: {
      ...mapGetters({
        'getCurrentList': 'transcriptions/getCurrentList'
      }),
      currentList () {
        return this.getCurrentList
      }
    },
    methods: {
      ...mapActions({
        'addTranscription': 'transcriptions/add'
      }),
      createTranscription () {
        this.addTranscription()
      }
    }
}
</script>

<style lang="scss">
.list-transcriptions{
  border: 1px solid $base-200; 
  background-color: $white;
}
.list-transcriptions__item{
  padding: 1rem;
  + .list-transcriptions__item{
    border-top: 1px solid $base-200;
  }
}
.list-transcriptions__footer{
  display: flex;
  align-items: center;
  justify-content: center;
  .icon{
    width: 2rem;
    height: 2rem;
  }
}
.list-transcriptions,
.list-transcriptions__footer{
  margin: 1.5rem 0;
}

</style>
