<template>
  <div
    v-if="currentTranscription"
    class="transcription"
  >
    <div class="transcription__area transcription__area--main-content">
      <h1
        class="transcription__title"
        contenteditable="true"
        @blur="saveTranscription($event, 'voice')"
      >
        {{ currentTranscription.voice }}
      </h1>
      <p
        class="transcription__text"
        contenteditable="true"
        @blur="saveTranscription($event, 'text')"
      >
        {{ currentTranscription.text }}
      </p>
    </div>
    <div class="transcription__area">
      <div class="checkbox">
        <input
          :id="`id${currentTranscription.id}`"
          class="checkbox__input"
          :value="currentTranscription.id"
          type="checkbox"
        >
        <label
          class="checkbox__label"
          :for="`id${currentTranscription.id}`"
        >
          {{ currentTranscription.voice }}
        </label>
      </div>
    </div>
    <div class="transcription__area transcription__avatar">
      <figure
        class="avatar"
        aria-label="Person icon"
      >
        <svg viewBox="0 0 26 26">
          <image
            xlink:href="@/assets/images/person-icon.svg"
            src="@/assets/images/noSVGFallbackIcons/person-icon.png"
            alt="Person Icon"
            width="26"
            hight="26"
          />
        </svg>
      </figure>
    </div>
    <div class="transcription__area transcription__hidden-actions">
      <button
        class="btn--icon"
        aria-label="delete transcription item"
        @click.prevent="deleteTranscription()"
      >
        <icon
          class="transcription__delete-action"
          :icon-name="'delete'"
        />
      </button>
    </div>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import Icon from '@/components/icons/Icon'
export default {
    components: {
      Icon
    },
    props: {
        transcription: {
            type: Object,
            required: true
        }
    },
    data () {
      return {
        currentTranscription: undefined
      }
    },
    watch: {
      transcription(newVal, oldVal) {
        this.recieveTranscription()
      }
    },
    created () {
      this.recieveTranscription()
    },
    
    methods: {
      ...mapActions({
        'removeTranscription': 'transcriptions/deleteItem',
        'updateTranscription': 'transcriptions/updateItem'
      }),
      recieveTranscription() {
        this.currentTranscription = {...this.transcription}
      },
      deleteTranscription () {
        this.removeTranscription(this.transcription.id)
      },
      saveTranscription (e, property) {
        this.currentTranscription[property] = e.target.innerText
        this.updateTranscription(this.currentTranscription)
      }
    }
}
</script>
<style lang="scss">
.transcription{
  display: flex;
  flex-flow: row nowrap;
}
.transcription__area{
  display: flex;
  align-items: center;
  margin: .75rem .5rem;
  height: 1rem;  
  /* 
    changed the visual order so that invisuals read the title first
    although it seems visually the same, the focus and assisted reading changes
  */
  order: 1; 
}
.transcription__area--main-content{
  align-items: flex-start;
  flex-direction: column;
  justify-content: stretch;
  height: auto;
  /* 
    changed the visual order so that invisuals read the title first
    although it seems visually the same, the focus and assisted reading changes
  */
  order: 2; 
}
.transcription__avatar{
  margin-right: 0;
}
.avatar{
  border-radius: 100%;
  min-width: 1.625rem;
  width: 1.625rem;
  height: 1.625rem;
  overflow: hidden;
  img,
  svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.transcription__title{
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}
.transcription__text{
  -webkit-appearance: none;
  border: 0;
  height: auto;
  flex: 1;
  resize: vertical;
  overflow: visible;
}
.transcription__hidden-actions{
  order: 3;
  opacity: 0;
  transition: opacity .3s ease;
}
.transcription__title,
.transcription__text{
  word-break: break-word;
  &:focus{
    outline: none;
  }
}
.transcription__area--main-content,
.transcription__title,
.transcription__text{
  flex-grow: 1;
  width: 100%;
}
.transcription:focus-within .transcription__hidden-actions,
.transcription:hover .transcription__hidden-actions{
    opacity: 1;
}
</style>

