<template>
  <svg
    width="32"
    height="32"
    viewBox="0 0 32 32"
    class="add-circle"
    alt="A circle icon with a plus sign in the middle"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g
      fill="none"
      fill-rule="evenodd"
    >
      <circle
        fill="currentColor"
        cx="16"
        cy="16"
        r="16"
      />
      <path
        fill="#FFF"
        class="plus-sign"
        d="M20.52 16.84h-3.48v3.4h-2.58v-3.4H11V14.4h3.46V11h2.58v3.4h3.48z"
      />
    </g>
  </svg>
</template>
<style lang="scss">
.add-circle .plus-sign{
  fill: white;
}
</style>
