<template>
  <svg
    width="24"
    height="24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M5.143 19.778C5.143 21 6.17 22 7.429 22h9.142c1.258 0 2.286-1 2.286-2.222V6.444H5.143v13.334zM20 3.11h-4L14.857 2H9.143L8 3.111H4v2.222h16V3.111z"
      fill="currentColor"
      fill-rule="evenodd"
    />
  </svg>
</template>
