/* eslint-disable vue/no-unused-components */
<template>
  <div class="icon">
    <component :is="iconName" />
  </div>
</template>
<script>
export default {
  name: 'Icon',
  components: {
    'get-data': () => import('@/components/icons/GetData'),
    'add-circle': () => import('@/components/icons/AddCircle'),
    'upload-data': () => import('@/components/icons/UploadData'),
    'delete': () => import('@/components/icons/Delete')
  },
  props: {
    'iconName': {
      type: String,
      required: true,
    },
  }
}
</script>
<style lang="scss">
.icon{
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  cursor: pointer;
  color:$base-400;
  &:hover{
    color: $base-500;
  }
  &:active,
  &:focus{
    color: $base-600;
  }
  > svg{
    width: 100%;
    height: 100%; 
    @media screen and (pointer: fine){
      transition: color .2s ease;
    }
  }
}
.icon--light{
  &{
    color: $base-300;
  }
  &:hover &{
    color: $base-400;
  }
  &:active,
  &:focus{
    color: $base-500;
  }
}
.icon--dark{
  &{
    color: $base-600;  
  }
  &:hover {
    color: $base-700;
  }
  &:active,
  &:focus {
    color: $base-800;
  }
}
</style>
