<template>
  <svg
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="24"
    height="24"
  >
    <path
      fill="currentColor"
      fill-rule="nonzero"
      d="M9 16h6v-6h4l-7-7-7 7h4v6zm-4 2h14v2H5v-2z" 
    />
  </svg>
</template>

