<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/_normalize.scss';
@import '@/assets/scss/_base.scss';
@import '@/assets/scss/_typography.scss';
@import '@/assets/scss/_checkboxes.scss';
@import '@/assets/scss/_buttons.scss';
</style>
