<template>
  <div class="dashboard">
    <a
      id="skip-to-main-content"
      class="accessability-link"
      href="#main-content"
    >Skip to main content</a>
    <div class="dashboard_header-wrapper">
      <div class="container">
        <header class="dashboard__header">
          <h1 class="dashboard__title">
            Transcriptions
          </h1>
          <nav class="dashboard__navigation main-navigation">
            <ul class="main-navigation__list">
              <li class="main-navigation__item">
                <button
                  class="btn--icon"
                  aria-label="Upload data"
                  @click.prevent="uploadData('5ae1c5792d00004d009d7e5c', $event)"
                >
                  <icon
                    :icon-name="'upload-data'"
                    class="icon--dark"
                    name="upload data"
                    alt="upload data"
                  />
                </button>
              </li>
              <li class="main-navigation__item">
                <button
                  class="btn--icon"
                  aria-label="Get data"
                  @click.prevent="getData('5ae1c5792d00004d009d7e5c', $event)"
                >
                  <icon
                    :icon-name="'get-data'"
                    class="icon--dark"
                    name="get data"
                    alt="get data"
                  />
                </button>
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </div>
    <main
      id="main-content"
      class="dashboard__main-content"
    >
      <div class="container">
        <router-view />
      </div>
    </main>
  </div>
</template>
<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import Icon from '@/components/icons/Icon'
export default {
  name: 'DashboardLayout',
  components: {
    Icon
  },
  mounted() {
    this.getData ('5ae1c5792d00004d009d7e5c')
  },
  computed: {
    ...mapState({
      transcriptions: state => state.transcriptions.currentList
    })
  },
  methods: {
    ...mapActions({
      'fetchTranscriptions': 'transcriptions/fetchContext',
      'uploadTranscriptions': 'transcriptions/updateContext',
    }),
    getData ( path ) {
      this.fetchTranscriptions({ id: path })
    },
    uploadData ( path ) {
      this.uploadTranscriptions({id: path, list: this.transcriptions})
    }
  }
}
</script>
<style lang="scss">
.container{
  margin: 0 auto;
  width: 100%;
  max-width: 46.125rem; 
}
.dashboard{
  background-color: $base-100;
  flex-grow: 1;
}
.dashboard_header-wrapper{
  width: 100%;
  position: sticky;
  top:0;
  background-color: $white;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba($black,0.24), 0 0.0625rem 0.1875rem 0 rgba($black,0.12);
}
.dashboard__header{
  padding: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.dashboard__title{
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
  color: $base-800;
}
.main-navigation__list{
  display: flex;
  flex-flow: row nowrap;
}
.main-navigation__item + .main-navigation__item{
   margin-left: 1.5rem;
}

</style>

